.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  height: 50vh;
  width: 40vh;
  background-color: white;
}

.card:hover {
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2);
}

.header {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.perameters {
  display: flex;
  margin-top: 20px;
}

.perameters > p {
  margin-top: 20px;
}

.moreitems {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.coordinates {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin-top: 10px;
}
